body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
    height: 100%;
    width: 100%;
    // background-color: #F5F5F5;
}

.fillcontain{
    height: 100%;
    width: 100%;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.padding-top-20 {
  padding-top: 20px;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.el-pagination {
  float: right;
}
.el-pagination.is-background .el-pager li:hover {
  color: #DE5B67;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #DE5B67;
  border-color: #DE5B67;
}
.reset() {
  font-weight: normal;
  color: #333;
  background: #fff;
  border: 1px solid #d5d5d5;
}
.el-pagination.is-background {
  padding: 0;
  .btn-prev {
    .reset();
    padding: 0 10px;
    margin: 0 5px 0 0;
    &:disabled {
      color: #d5d5d5;
      border-color: #d5d5d5;
    }
  }
  .btn-next {
    .reset();
    padding: 0 10px;
    margin: 0 0 0 5px;
    &:disabled {
      color: #d5d5d5;
      border-color: #d5d5d5;
    }
  }
  .el-pager li {
    .reset();
  }
}
.el-pagination.is-background .el-pager li:not(.active):hover {
  color: #DE5B67;
}

